<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androidstudy"
    android:versionCode="1"
    android:versionName="1.0" >
	<!-- xmlns:tools="http://schemas.android.com/tools"用来配合tools:ignore的使用 -->
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    
    <!-- 定义ContentProvider读写权限  -->
    <permission android:name="aa.bb.cc.read" ></permission>
    <permission android:name="aa.bb.cc.write" ></permission>
    
    <!-- 拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 处理拨出电话的权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <!-- 读取电话状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 发送SMS的权限 -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- 接收SMS的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- 读取SMS的权限 -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!-- 写入SMS的权限 -->
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <!-- 写入SD卡的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取SD卡的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 安装/卸载SD卡的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 读取Contacts的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 写入Contacts的权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 录音的权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 开机自启动接收的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 开启照相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    
    <!-- 声明使用照相机特征 -->
	<uses-feature android:name="android.hardware.camera" />

    <!-- 去除标题android:theme="@android:style/Theme.Light.NoTitleBar" -->
    <application android:name="com.androidstudy.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.androidstudy.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 隐式意图配置  -->
        <activity android:name="com.androidstudy.ImplicitIntent">
            <intent-filter>
                <!-- 自定义并声明动作action为com.androidstudy.find -->
	            <action android:name="com.androidstudy.find" />
	            <!-- 声明类别category -->
	            <category android:name="android.intent.category.DEFAULT" />
	            <!-- 自定义并声明数据类型mimeType为application/person -->
	            <data android:mimeType="application/person" />
	            <!-- 自定义并声明数据约束规范scheme为Asian -->
	            <data android:scheme="Asian" />
            </intent-filter>
        </activity>
        
        <!-- authorities：用于唯一指定，通常可用包名类名  -->
        <provider android:name="com.androidstudy.data.MyContentProvider"
            android:authorities="com.androidstudy.data.MyContentProvider"
            android:readPermission="aa.bb.cc.read"
            android:writePermission="aa.bb.cc.write" >
        </provider>
        
        <!-- 配置广播接收者 -->
        <receiver android:name="com.androidstudy.broadcast.OutCallReceiver"
            tools:ignore="ExportedReceiver"  >
            <!-- 声明tools:ignore用来消除Warning:Exported service does not require permission -->
            <intent-filter>
                <!-- 配置其动作为外拨电话（此项开启将执行IP拨号助手，导致拨号添加默认前缀0797） -->
                <!-- <action android:name="android.intent.action.NEW_OUTGOING_CALL"/> -->
            </intent-filter>
        </receiver>
        <receiver android:name="com.androidstudy.broadcast.SDStatusReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
                <action android:name="android.intent.action.MEDIA_REMOVED"/>
                <!-- 注意设置data scheme为file -->
               	<data android:scheme="file"></data>
            </intent-filter>
        </receiver>
        <receiver android:name="com.androidstudy.broadcast.SMSReceiver">
            <!-- 设置优先级，可用于按次序接收有序广播 -->
            <intent-filter android:priority="1000">
                <!-- 注意Telephony.SMS_RECEIVED动作在4.2+版本不推荐使用，但仍起效 -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        
        <activity android:name="com.androidstudy.MainListActivity"></activity>
        <activity android:name="com.androidstudy.TempTestActivity"></activity>
        <activity android:name="com.androidstudy.phone.Dial"></activity>
        <activity android:name="com.androidstudy.phone.SMS"></activity>
        <activity android:name="com.androidstudy.data.DataPath"></activity>
        <activity android:name="com.androidstudy.data.XMLProcess"></activity>
        <activity android:name="com.androidstudy.data.SQLite"></activity>
        <activity android:name="com.androidstudy.ui.MyListView"></activity>
        <activity android:name="com.androidstudy.data.MyContentResolver"></activity>
        <activity android:name="com.androidstudy.phone.Contact"></activity>
        <activity android:name="com.androidstudy.net.CloudViewer"></activity>
        <activity android:name="com.androidstudy.net.Login"></activity>
        <activity android:name="com.androidstudy.demo.sinanews.SinaNews"></activity>
        <activity android:name="com.androidstudy.net.Download"></activity>
        <activity android:name="com.androidstudy.net.DownloadWithProgressBar"></activity>
        <activity android:name="com.androidstudy.net.DownloadByxUtils"></activity>
        <activity android:name="com.androidstudy.broadcast.SendBroadcast"></activity>
        <activity android:name="com.androidstudy.service.BeginServiceAty"></activity>
        <activity android:name="com.androidstudy.service.BeginRemoteServiceAty"></activity>
        <activity android:name="com.androidstudy.media.LoadBigImage"></activity>
        <activity android:name="com.androidstudy.media.ImageProcess"></activity>
        <activity android:name="com.androidstudy.media.AudioPlayer"></activity>
        <activity android:name="com.androidstudy.media.VideoPlayer"></activity>
        <activity android:name="com.androidstudy.media.DefaultCamera"></activity>
        <activity android:name="com.androidstudy.media.CustomCamera"></activity>
        <activity android:name="com.androidstudy.web.WebViewInteractJS"></activity>
        <activity android:name="com.androidstudy.ui.fragment.StaticFragmentAty"></activity>
        <activity android:name="com.androidstudy.web.MyWebView"></activity>
        <activity android:name="com.androidstudy.ui.fragment.DynamicFragmentAty"></activity>
        <activity android:name="com.androidstudy.ui.ShowMyUIAty"></activity>
        <activity android:name="com.androidstudy.net.JsonAty"></activity>
        
        <service android:name="com.androidstudy.phone.PhoneWiretap"></service>
        <service android:name="com.androidstudy.service.MainService"></service>
        <service android:name="com.androidstudy.service.RemoteService" 
            tools:ignore="ExportedService" >
            <!-- 声明tools:ignore用来消除Warning:Exported service does not require permission -->
            <intent-filter >
                <!-- 自定义并声明动作action为com.androidstudy.service.remoteService -->
                <action android:name="com.androidstudy.service.remoteService"/>
            </intent-filter>
        </service>
        
        <receiver android:name="com.androidstudy.broadcast.MyBroadcastReceiver" 
            tools:ignore="ExportedReceiver" >
            <!-- 声明tools:ignore用来消除Warning:Exported receiver does not require permission -->
            <intent-filter>
                <action android:name="com.androidstudy.broadcast.send" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.androidstudy.broadcast.BootReceiver"
            tools:ignore="ExportedReceiver"  >
            <!-- 声明tools:ignore用来消除Warning:Exported service does not require permission -->
            <intent-filter>
                <!-- 开机自启动action -->
                <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
