<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidstudy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
    <!-- 添加拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 写入SD卡的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取SD卡的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.androidstudy.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.androidstudy.MainListActivity"></activity>
        <activity android:name="com.androidstudy.phone.Dial"></activity>
        <activity android:name="com.androidstudy.phone.SendSMS"></activity>
        <activity android:name="com.androidstudy.data.DataPath"></activity>
        <activity android:name="com.androidstudy.data.XMLProcess"></activity>
        <activity android:name="com.androidstudy.data.SQLite"></activity>
        <activity android:name="com.androidstudy.ui.MyListView"></activity>
    </application>

</manifest>
